<!DOCTYPE html>
<html ng-app="adicionarApp">
<head>
  <meta charset="utf-8">
  <title>Zero To One | Adicionar usuário</title>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Nosso CSS -->
  <link rel="stylesheet" type="text/css" href="css/app.css"/>
</head>
<body ng-controller="AdicionarController as addVm">
  <div class="container">

    <div class="row top-fix">
      <div class="col-lg-12">
        <button type="button" ng-click="addVm.voltar()" class="btn btn-primary">Voltar</button>
      </div>
    </div>

    <section>
      <header>
        <legend>
          Adicionar usuário
        </legend>
      </header>

      <fieldset>
        <form name="addVm.fUser" ng-submit="addVm.submit(addVm.fUser.$valid)" novalidate>
          <div class="form-row">
            <div class="col-lg-12 mb-3">
              <label for="iNome">Nome *</label>
              <input class="form-control" type="text" id="iNome" name="iNome" ng-model="addVm.usuario.nome" required ng-minlength=3 ng-maxlength=15 ng-class="{'is-invalid': addVm.fUser.iNome.$invalid && addVm.fUser.$submitted}">
              <span class="invalid-feedback" ng-show="addVm.fUser.iNome.$invalid && addVm.fUser.$submitted">
                <span ng-show="addVm.fUser.iNome.$error.required">Nome não pode ser vazio!</span>
                <span ng-show="addVm.fUser.iNome.$error.minlength">Nome deve ter pelo menos 3 letras!</span>
                <span ng-show="addVm.fUser.iNome.$error.maxlength">Nome deve ter no máximo 15 letras!</span>
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="iSobrenome">Sobrenome *</label>
              <input class="form-control" type="text" id="iSobrenome" name="iSobrenome" ng-model="addVm.usuario.sobrenome" required ng-minlength=3 ng-maxlength=15 ng-class="{'is-invalid': addVm.fUser.iSobrenome.$invalid && addVm.fUser.$submitted}">
              <span class="invalid-feedback" ng-show="addVm.fUser.iSobrenome.$invalid && addVm.fUser.$submitted">
                <span ng-show="addVm.fUser.iSobrenome.$error.required">Sobrenome não pode ser vazio!</span>
                <span ng-show="addVm.fUser.iSobrenome.$error.minlength">Sobrenome deve ter pelo menos 3 letras!</span>
                <span ng-show="addVm.fUser.iSobrenome.$error.maxlength">Sobrenome deve ter no máximo 15 letras!</span>
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="iEmail">E-mail *</label>
              <input type="mail" class="form-control" id="iEmail" name="iEmail" ng-model="addVm.usuario.email" required ng-minlength=5 ng-maxlength=30 ng-class="{'is-invalid': addVm.fUser.iEmail.$invalid && addVm.fUser.$submitted}">
              <span class="invalid-feedback" ng-show="addVm.fUser.iEmail.$invalid && addVm.fUser.$submitted">
                <span ng-show="addVm.fUser.iEmail.$error.required">E-mail não pode ser vazio!</span>
                <span ng-show="addVm.fUser.iEmail.$error.minlength">E-mail deve ter pelo menos 3 letras!</span>
                <span ng-show="addVm.fUser.iEmail.$error.maxlength">E-mail deve ter no máximo 30 letras!</span>
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="iSetor">Setor *</label>
              <input type="text" class="form-control" id="iSetor" name="iSetor" ng-model="addVm.usuario.setor" required ng-minlength=2 ng-maxlength=15 ng-class="{'is-invalid': addVm.fUser.iSetor.$invalid && addVm.fUser.$submitted}">
              <span class="invalid-feedback" ng-show="addVm.fUser.iSetor.$invalid && addVm.fUser.$submitted">
                <span ng-show="addVm.fUser.iSetor.$error.required">Setor não pode ser vazio!</span>
                <span ng-show="addVm.fUser.iSetor.$error.minlength">Setor deve ter pelo menos 2 letras!</span>
                <span ng-show="addVm.fUser.iSetor.$error.maxlength">Setor deve ter no máximo 15 letras!</span>
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Cadastrar</button>
          <button type="button" class="btn btn-light" ng-click="addVm.voltar()">Cancelar</button>
        </form>
      </fieldset>
    </section>
  </div>

  <!-- Angular JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

  <!-- Local JS -->
  <script src="app/app.js"></script>
  <script src="factories/url-factory.js"></script>
  <script src="services/url-service.js"></script>
  <script src="db/check-db.js"></script>
  <script src="db/insert-user.js"></script>
  <script src="db/select-all-users.js"></script>
  <script src="models/usuario.js"></script>
  <script src="controllers/adicionar-controller.js"></script>
</body>
</html>