<!DOCTYPE html>
<html ng-app="excluirApp">
<head>
  <meta charset="utf-8">
  <title>Zero To One Angular Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Nosso CSS -->
  <link rel="stylesheet" type="text/css" href="css/app.css"/>
</head>
<body ng-controller="ExcluirController as excluirVm">
  <div class="container">

    <div class="row top-fix">
      <div class="col-lg-12">
        <button type="button" ng-click="excluirVm.voltar()" class="btn btn-primary">Voltar</button>
      </div>
    </div>

    <section>
      <header>
        <legend>
          Excluir usuário
        </legend>
      </header>

      <fieldset>
        <form ng-submit="excluirVm.excluirUsuario()">
          <div class="form-group">
            <label for="inputId">Id</label>
            <input type="text" class="form-control" id="inputId" readonly ng-model="excluirVm.usuario.id">
          </div>
          <div class="form-group">
            <label for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" readonly ng-model="excluirVm.usuario.nome">
          </div>
          <div class="form-group">
            <label for="inputSobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="inputSobrenome" readonly ng-model="excluirVm.usuario.sobrenome">
          </div>
          <div class="form-group">
            <label for="inputEmail">E-mail</label>
            <input type="mail" class="form-control" id="inputEmail" readonly ng-model="excluirVm.usuario.email">
          </div>
          <div class="form-group">
            <label for="inputSetor">Setor</label>
            <input type="text" class="form-control" id="inputSetor" readonly ng-model="excluirVm.usuario.setor">
          </div>
          <button type="submit" class="btn btn-danger">Excluir</button>
          <button type="button" ng-click="excluirVm.voltar()" class="btn btn-primary">Cancelar</button>
        </form>
      </fieldset>
    </section>
  </div>

  <!-- Angular JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

  <!-- Local scripts -->
  <script src="app/app.js"></script>
  <script src="factories/url-factory.js"></script>
  <script src="services/url-service.js"></script>
  <script src="db/check-db.js"></script>
  <script src="db/select-all-users.js"></script>
  <script src="db/select-user-by-id.js"></script>
  <script src="db/delete-user.js"></script>
  <script src="controllers/excluir-controller.js"></script>
</body>
</html>